/*-- scss:defaults --*/

$theme-white: #FEFEFE;
$theme-lila: #194998;
$theme-azul: #4469d7;
$theme-violeta: #3c096c;
$theme-darkvioleta: #020620;
$theme-green: #5c7c44;
$theme-otro: #ca8930;
$theme-blue: #4d82c9;
$theme-orange:#d0581a;

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$body-bg: $theme-white;
$link-color: $theme-darkvioleta;
$code-color: $theme-violeta;
$body-color: $theme-darkvioleta;
$presentation-heading-color: $theme-lila;
$presentation-heading-font: 'Montserrat', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

/* Aplicar globalmente */
body, .reveal {
  font-family: 'Montserrat', sans-serif;
}

$code-block-font-size: 0.8em;

/*-- scss:rules --*/

.reveal div.sourceCode {
  border: unset !important;
}

div.sourceCode {
  background-color: unset !important;
}

.curly {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
}

.center-v {
  display:flex;
  justify-content:center;
  align-items:center;
}

@mixin center-text {
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin background-full {
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.arg-title1 {
  &:is(.slide-background) {
    background-image: url('/assets/1.png') !important;
    @include background-full;
  }


  h2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Lato';
    width: 65%;
  }

  h3 {
    color: $theme-otro;
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
  }
}


.arg-title2 {
  &:is(.slide-background) {
    background-image: url('/assets/2.png');
    @include background-full;
  }
  
  color: #FFFFFF;

  /* Cambiar color de títulos */
  h2, h3, h4, h5, p, pre {
    margin-left: 100px;
    width: 65%;
    color: #FFFFFF;
  }

  h2 {
    font-size: 3em;
    font-family: 'Lato';
  }

  h3 {
    font-size: 2em;
  }

  /* Cambiar color del texto general */
  p {
    color: #f0f0f0; /* gris muy claro */
  }

  /* Cambiar color de los links */
  a {
    color: #fefefe !important; /* blanco */
    text-decoration: underline;
  }
  
  pre code {
    color: #ffeeaa !important;
    background-color: rgba(0, 0, 0, 0.4); /* opcional */
  }

}



.arg-title3 {
  &:is(.slide-background) {
    background-image: url('/assets/6.png') !important;
    @include background-full;
  }


  h2 {
    margin-top: 150px;
    text-align: left;
    font-size: 2em;
    font-family: 'Lato';
  }

  h3 {
    color: $theme-otro;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
}



.arg-title4 {
  &:is(.slide-background) {
    background-image: url('/assets/7.png') !important;
    @include background-full;
  }
  


  h2 {
    margin-top: -30px;
    text-align: left;
    font-size: 2em;
    font-family: 'Lato';
  }

  h3 {
    color: $theme-otro;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
}


.arg-title5 {
  &:is(.slide-background) {
    background-image: url('/assets/5.png') !important;
    @include background-full;
  }
  


  h2 {
    text-align: left;
    font-size: 2em;
    font-family: 'Lato';
  }

  h3 {
    color: $theme-otro;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
}



.arg-title6 {
  &:is(.slide-background) {
    background-image: url('/assets/8.png');
    @include background-full;
  }


  /* Cambiar color de títulos */
  h2, h3, h4, h5, p, pre {
    margin-left: 100px;
    width: 65%;
  }
  
  h1 {
    font-family: 'Lato';
  }

  h2 {
    font-size: 3em;
    font-family: 'Lato';
  }

  h3 {
    font-size: 2em;
  }


}



.arg-title7 {
  &:is(.slide-background) {
    background-image: url('/assets/9.png');
    @include background-full;
  }


  /* Cambiar color de títulos */
  h2, h3, h4, h5, p, pre {
    margin-right: 300px;
    width: 65%;
  }
  
  h1 {
    margin-left: 300px;
    width: 65%;
    font-family: 'Lato';
  }

  h2 {
    font-size: 1em;
    font-family: 'Lato';
  }

  h3 {
    font-size: 2em;
  }


}

/* Clase específica para tablas chicas */
.tabla-chica table {
  font-size: 0.8em;
}



.arg-title8 {
  &:is(.slide-background) {
    background-image: url('/assets/13.png');
    @include background-full;
  }

  
  h1 {
    font-family: 'Lato';
  }

  h2 {
    font-size: 1.5em;
    font-family: 'Lato';
  }

  h3 {
    font-size: 1.5em;
  }


}


.arg-title91 {
  &:is(.slide-background) {
    background-image: url('/assets/9.png');
    @include background-full;
  }

  // Ajuste del ancho del texto general
  /*h1, h2, h3, h4, h5, p, pre {
    margin-left: auto;
    margin-right: auto;
    width: 90%; // antes 65%
  }*/

  h1 {
    font-family: 'Lato';
    font-size: 2.5em; // puedes ajustar si es muy grande
    text-align: left;
  }

  h2 {
    font-size: 2em; // tamaño más estándar y legible
    font-family: 'Lato';
    text-align: left;
  }

  h3 {
    font-size: 1.2em; // ajustado un poco para jerarquía
    text-align: left;
  }
}
