/*-- scss:defaults --*/

/*$body-bg: #e0e1dd!default;*/
/*$body-color: #23395B!default;*/
$link-color: #231942!default;
$input-panel-bg: #fff !default;
$code-color: #D81E5B!default;
$font-family-sans-serif: Montserrat, Arial!default;
$code-annotation-higlight-color:  #D81E5B !default;


/* Clase específica para tablas chicas */
.tabla-chica table {
  font-size: 0.8em;
}


